<div class="title-container flex">
  <h1>Your Recipes</h1>
</div>

<div class="flex column">
  <% @recipes.each do |recipe| %>
    <div class="flex-row align-center">
      <div class="flex-title">
        <h3 class="recipe-name"><%= link_to recipe.name, recipe %></h2>
        <%= button_to "REMOVE", @recipe, method: :delete %>
      </div>
      <div class="flex-desc">
        <h4><%= recipe.description %></h4>
      </div>
    </div>
  <% end %>
</div>

<%= button_to "New recipe", new_recipe_path %>
